@{
    ViewData["Title"] = "Privacy Policy";
}


<p>
    <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a> - where Joel performs regularly.
</p>
<p>
    <a href="https://baconsale.com/" target="_blank">Baconsale</a> - check out the site.
</p>
<p>
    <a href="https://baconsale.com/" target="_blank">
       <img src="~/img/baconsalekate.jpg" alt="Joel at Baconsale" style="max-width: 100%; height: auto;" />
    </a>
</p>


