@{
    ViewData["Title"] = "Home Page";
}

   
<h1 style="text-align: center;">The Joel Hilton Film Collection</h1>

<div class="centered-container" style="text-align: center;">
    <img src="~/img/joelhiltonheadshot.jpg" style="width: auto; max-width: 100%; height: auto;" />
</div>
